.spisok {
    text-align: center;
    button {
        //font-weight: bold;
        font-family: "Nunito", sans-serif;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
        font-size: 15px;
        //background-color: darken(#ff006e, 3%);
        //color: #fff;
        margin-top: 20px;
        cursor: pointer;
    }
}
